body {
   background: rgb(228, 212, 193);

}

.site {
   max-width: var(--layout-width, 60em);
   margin: 0 auto;
}

.site-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.site-footer {
   background-color: rgb(114, 94, 87);
   text-align: center;
}

.section-duo {
   display: flex;
}

.section-duo .content,
.section-duo .media {
    width: 50%;
}

.section-duo .media img {
    width: 100%;
    height: auto;
}

.contacts {
   padding-left: 0.5em;
   background: rgb(114, 94, 87);
   border-radius: 1em;
   padding: 0.5em;
   color: white;
   margin-left: 0.5em;
}