.nav {
    text-align: right;
    padding-top: 0.5em;
}

.nav ul {
    display: flex;
}

.nav ul :nth-child(1) { order: 2; }
.nav ul :nth-child(2) { order: 4; }
.nav ul :nth-child(3) { order: 1; }
.nav ul :nth-child(4) { order: 3; }
     
.nav ul li {
    display: block;
    margin: 0 0.7em;
}

.nav-footer ul{
    justify-content: center;
}

.nav a {
    display: block;
    padding: 0.5em 1em;    
    text-decoration: none;
}

.nav-header a {
    background: #eee;
    color: #333;
    border-radius: 1em;
}

.nav-header a:hover {
    background:  rgb(114, 94, 87);
    color: white;
}

.nav-footer a,
.site-footer p {
    color: white;
}